{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="description" content="">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}{% endblock %}</title>
      <link rel="icon" href="{% static "img/core-img/favicon.ico" %}">
      <link rel="stylesheet" href="{% static "css/core-style.css" %}">
  </head>
  <body>
      <!-- [ Header Area Start ] -->
      <header class="header_area">
          <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
              <!-- Classy Menu -->
              <nav class="classy-navbar" id="essenceNav">
                  <!-- Logo -->
                  <a class="nav-brand" href="/"><img src="{% static "img/core-img/logo.png" %}" alt=""></a>
                  <!-- Navbar Toggler -->
                  <div class="classy-navbar-toggler">
                      <span class="navbarToggler"><span></span><span></span><span></span></span>
                  </div>
                  <!-- Menu -->
                  <div class="classy-menu">
                      <!-- close btn -->
                      <div class="classycloseIcon">
                          <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                      </div>
                      <!-- Nav Start -->
                      <div class="classynav">
                          <ul>
                            <li><a href="/shop">Shop</a></li>
                              <li><a href="#">Women</a>
                                  <ul class="dropdown">
                                      {% for cat in w_categories %}
                                        <li><a href="/shop/category/{{cat.slug}}">{{cat.name}}</a></li>
                                      {% endfor %}
                                  </ul>
                              </li>
                              <li><a href="#">Men</a>
                                  <ul class="dropdown">
                                      {% for cat in m_categories %}
                                        <li><a href="/shop/category/{{cat.slug}}">{{cat.name}}</a></li>
                                      {% endfor %}
                                  </ul>
                              </li>
                              <li><a href="#">Brand</a>
                                  <ul class="dropdown">
                                      {% for brand in brands %}
                                        <li><a href="/shop/brand/{{brand.slug}}">{{brand.name}}</a></li>
                                      {% endfor %}
                                  </ul>
                              </li>
                              <li><a href="/contact">Contact</a></li>
                          </ul>
                      </div>
                      <!-- Nav End -->
                  </div>
              </nav>

              <!-- Header Meta Data -->
              <div class="header-meta d-flex clearfix justify-content-end">
                  <!-- Search Area -->
                  <div class="search-area">
                      <form action="/search/" method="post">
                          {% csrf_token %}
                          <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                      </form>
                  </div>
                  <!-- Cart Area -->
                  <div class="cart-area">
                      <a href="#" id="essenceCartBtn"><img src="{% static "img/core-img/bag.svg" %}" alt=""> <span>{{cart_len}}</span></a>
                  </div>
              </div>

          </div>
      </header>
      <!-- [ Header Area End ] -->

      <!-- [ Right Side Cart Area ] -->
      <div class="cart-bg-overlay"></div>
      <div class="right-side-cart-area">
          <!-- Cart Button -->
          <div class="cart-button">
              <a href="#" id="rightSideCart"><img src="{% static "img/core-img/bag.svg" %}" alt="">
              <span>{{cart_len}}</span></a>
          </div>
          <div class="cart-content d-flex">
              {% if cart_len != 0 %}
                <!-- Cart List Area -->
                <div class="cart-list">
                    {% for item in cart %}
                      {% with product=item.product %}
                        <!-- Single Cart Item -->
                        <div class="single-cart-item">
                            <a href="/cart/remove/{{product.id}}" class="product-image">
                                <img src="{{product.image_preview.url}}" class="cart-thumb" alt="">
                                <!-- Cart Item Desc -->
                                <div class="cart-item-desc">
                                  <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                                    <span class="badge">{{product.brand}}</span>
                                    <h6>{{product.name}}</h6>
                                    <p class="size">Size: {{item.size}}</p>
                                    <p class="color">Color: {{item.color}}</p>
                                    <p class="price">${{product.price}}</p>
                                </div>
                            </a>
                        </div>
                      {% endwith %}
                    {% endfor %}

                </div>
              {% endif %}
              <!-- Cart Summary -->
              <div class="cart-amount-summary">
                  {% if cart_len != 0 %}
                    <h2>Summary</h2>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>${{cart.get_price}}</span></li>
                        <li><span>delivery:</span> <span>{% if cart.get_price > 10 and cart.get_price < 70 %}$3{% else %}Free{% endif %}</span></li>
                        <!-- <li><span>discount:</span> <span>-15%</span></li> -->
                        <li><span>total:</span> <span>${% if cart.get_price > 10 and cart.get_price < 70 %}{{cart.get_total_price}}{% else %}{{cart.get_price}}{% endif %}</span></li>
                    </ul>
                    <div class="checkout-btn mt-100">
                        <a href="checkout.html" class="btn essence-btn">check out</a>
                    </div>
                  {% else %}
                    <h1>Cart is empty</h1>
                    <div class="checkout-btn mt-100">
                        <a href="/shop/" class="btn essence-btn">to shop</a>
                    </div>
                  {% endif %}
              </div>
          </div>
      </div>
      <!-- [ Right Side Cart End ] -->

      {% block content %}{% endblock %}

      <!-- [ Footer Area Start ] -->
      <footer class="footer_area clearfix">
          <div class="container">
              <div class="row">
                  <!-- Single Widget Area -->
                  <div class="col-12 col-md-6">
                      <div class="single_widget_area d-flex mb-30">
                          <!-- Logo -->
                          <div class="footer-logo mr-50">
                              <a href="/"><img src="{% static "img/core-img/logo2.png" %}" alt=""></a>
                          </div>
                          <!-- Footer Menu -->
                          <div class="footer_menu">
                              <ul>
                                  <li><a href="/shop/">Shop</a></li>
                                  <li><a href="/contact/">Contact</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Single Widget Area -->
                  <div class="col-12 col-md-6">
                      <div class="single_widget_area">
                          <div class="footer_social_area">
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                              <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="row mt-5">
                  <div class="col-md-12 text-center">
                      <p>
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made with by Golden Trio Plus
                      </p>
                  </div>
              </div>
          </div>
      </footer>
      <!-- [ Footer Area End ] -->

      <!-- JavaScript Files -->
      <script src="{% static "js/jquery/jquery-2.2.4.min.js" %}"></script>
      <script src="{% static "js/popper.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
      <script src="{% static "js/plugins.js" %}"></script>
      <script src="{% static "js/classy-nav.min.js" %}"></script>
      <script src="{% static "js/active.js" %}"></script>
  </body>
</html>
