{% extends 'shop/wrapper.html' %}
{% block title %}{{product.brand}} - {{product.name}}{% endblock %}
{% block content %}
{% load static %}
<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">
    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            {% for img in images %}
              <img src="{{img.image.url}}" alt="">
            {% endfor %}
        </div>
    </div>
    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <span>{{ product.brand }}</span>
          <h2>{{ product.name }}</h2>
        <!-- <p class="product-price"><span class="old-price">$65.00</span> $49.00</p> -->
        <p class="product-price">${{ product.price }}</p>
        <p class="product-desc">{{ product.description }}</p>
        <!-- Form -->
        <form action="{% url "shop:CartAdd" product.id %}" class="cart-form clearfix" method="post">
            {% csrf_token %}
            <!-- Select Box -->
            <div class="select-box d-flex mt-50 mb-30">
                <select title="size" name="size" id="size" class="mr-5">
                  {% for size in sizes %}
                    <option value="{{size}}">Size: {{ size }}</option>
                  {% endfor %}
                </select>
                <select title="color" name="color" id="color">
                  {% for color in colors %}
                    <option value="{{color}}">Color: {{ color }}</option>
                  {% endfor %}
                </select>
            </div>
            <!-- Cart -->
            <div class="cart-fav-box d-flex align-items-center">
                <input class="btn essence-btn" type="submit" value="Add to cart">
            </div>
        </form>
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->
{% endblock %}
