{% extends 'shop/wrapper.html' %}
{% block title%}[ Shop ]{% if brand %} {{brand.name}}{% elif category %} {{category.gender}} - {{category.name}}{% endif %}{% endblock %}
{% block content %}
{% load static %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url({% static "img/bg-img/breadcumb2.jpg" %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>{% if brand %}{{brand.name}}{% elif category %}{{category.gender}} - {{category.name}}{% elif keyword %}Search - {{keyword}}{% else %}Shop{% endif %}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <!-- Widget Title -->
                        <h6 class="widget-title mb-30">Categories</h6>

                        <!--  Categories  -->
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#clothing" class="collapsed">
                                    <a href="#">brand</a>
                                    <ul class="sub-menu collapse show" id="clothing">
                                        <li><a href="/shop">All</a></li>
                                        {% for br in all_b %}
                                          <li><a href="/shop/brand/{{br.slug}}">{{br.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#shoes" class="collapsed">
                                    <a href="#">women</a>
                                    <ul class="sub-menu collapse show" id="shoes">
                                        <li><a href="/shop">All</a></li>
                                        {% for cat in all_w %}
                                            <li><a href="/shop/category/{{cat.slug}}">{{cat.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <!-- Single Item -->
                                <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                    <a href="#">men</a>
                                    <ul class="sub-menu collapse show" id="accessories">
                                        <li><a href="/shop">All</a></li>
                                        {% for cat in all_m %}
                                            <li><a href="/shop/category/{{cat.slug}}">{{cat.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span>{{count}}</span> products found</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {% for prod in products %}
                          <!-- Single Product -->
                          <div class="col-12 col-sm-6 col-lg-4">
                              <div class="single-product-wrapper">
                                  <!-- Product Image -->
                                  <div class="product-img">
                                      <img src="{% if prod.image_preview %}{{prod.image_preview.url}}{% else %}{% static "img/no-image.png" %}{% endif %}" alt="">
                                      <!-- Hover Thumb -->
                                      <img class="hover-img" src="{% if prod.image_hover %}{{prod.image_hover.url}}{% else %}{% static "img/no-image.png" %}{% endif %}" alt="">
                                  </div>

                                  <!-- Product Description -->
                                  <div class="product-description">
                                      <span>{{prod.brand}}</span>
                                      <a href="/shop/{{prod.id}}/{{prod.slug}}">
                                          <h6>{{prod.name}}</h6>
                                      </a>
                                      <p class="product-price">${{prod.price}}</p>

                                      <!-- Hover Content -->
                                      <div class="hover-content">
                                          <!-- Add to Cart -->
                                          <div class="add-to-cart-btn">

                                                <a href="/shop/{{prod.id}}/{{prod.slug}}" class="btn essence-btn">Details</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Pagination -->
                <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        {% if has_other %}
                          {% if has_prev %}
                            <li class="page-item"><a class="page-link" href="?page={{prev_page}}"><i class="fa fa-angle-left"></i></a></li>
                          {% endif %}
                          {% if has_prev %}
                            {% if prev_page != 1 %}
                              <li class="page-item"><a class="page-link" href="#">...</a></li>
                            {% endif %}
                            <li class="page-item"><a class="page-link" href="?page={{prev_page}}">{{prev_page}}</a></li>
                          {% endif %}
                          <li class="page-item active"><a class="page-link">{{page}}</a></li>
                          {% if has_next%}
                            <li class="page-item"><a class="page-link" href="?page={{next_page}}">{{next_page}}</a></li>
                            {% if next_page != pages_count %}
                              <li class="page-item"><a class="page-link" href="#">...</a></li>
                            {% endif %}
                          {% endif %}
                          {% if has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{next_page}}"><i class="fa fa-angle-right"></i></a></li>
                          {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->
{% endblock %}
